# https://pnpm.io/npmrc#strict-peer-dependencies
strict-peer-dependencies=false

#https://pnpm.io/npmrc#prefer-workspace-packages
prefer-workspace-packages=false

# https://github.com/nuxt/nuxt/issues/14146#issuecomment-1467427901
public-hoist-pattern[]=*vue*
public-hoist-pattern[]=*nuxt*
public-hoist-pattern[]=defu
public-hoist-pattern[]=ufo
public-hoist-pattern[]=*contentful*
# Alternative approach
# https://github.com/nuxt/nuxt/issues/14146#issuecomment-1475894768
